.idea/
*/node_modules/
*/node_modules/*
*/backend/node_modules/
*/node_modules/.staging
*/dist
*/ida/src/routes.ts
*/oda/src/routes.ts
*/oda/all-logs.log
*/ida/src/*.js
*/dps/server.js
*/dps/services/*.js
*.log
ida/src/routes.ts
oda/src/routes.tso4
dad/backend/node_modules/
npm-debug.log
bin/
obj/
config/
*/globalconfig.json
globalconfig.json
TestingSuite/features/assets/*
TestingSuite/test/*
