.idea/
*/node_modules/
*/node_modules/*
*/node_modules/.staging
*/dist
*/ida/src/routes.ts
*/oda/src/routes.ts
*/oda/all-logs.log
*.log
*.routes.ts
ida/src/routes.ts
oda/src/routes.ts
dad/backend/node_modules/
npm-debug.log
bin/
obj/
config/