#logo{
  height: 40px;
}

.widget1{
  margin: auto;
  text-align: center;
  width:350px;
  height: 150px;
  border-right: solid darkgrey;
  border-left: solid darkgrey;
}

#widget_content{
  text-align: left;
}

.widgetcontainer{
  margin: 0 auto;
  border-top: solid 5px darkgrey;
  border-bottom: solid darkgrey;
  border-right:solid darkgrey;
  border-left:solid darkgrey;
}

.chart {
  position:relative;
  float:left;
  width:50%;
}

#chartName{
  position: absolute;
  color: black;
  font-weight: 600;
  font-size: 25px;
  text-align:center;
  width: 75%;
}

#dashboardTable{
  border:solid;
  color:darkgray;
  text-align:center;
  margin: auto;
}

#title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#widgetName{
  font-weight: 600;
  color: black;
  position: relative;
  width: 100%;
  padding-left: 5px;
}

#dropdown{
  width: 150px;
  padding-bottom: 1px;
  padding-left: 5px;
  float: right;
}

#values{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#widgetDate{
  float:left;
}

#widgetStartTime{
  float:left;
}

#widgetStartDate{
  float:left;
}

#widgetDuration{
  padding-top: 5px;
  float:left;
}

body{

}



.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
}

@media screen and (min-width: 300px) and (max-width: 1800px) {
  #logo{
    height: 40px;
  }

  .chart {
    position:relative;
    float: none;
    width:100%;
  }

  #chartName{
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 25px;
    text-align:center;
    width: 100%;
  }

  #dashboardTable{
    border:solid darkgray;
    text-align:center;
    margin: auto;
    width: 50%;
  }

  #title{
    position: relative;
    color: black;
    font-weight: 900;
    font-size: 30px;
    text-align:center;
    width: 100%;
  }

  .widgetcontainer{
    border:solid darkgray;
    text-align:center;
    margin: auto;
    width: 51%;
  }

  body{
  }

  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
  }
}
