<div class="row">
  <div class="large-3 columns">
    <ul>
      <li *ngFor="let item of fakeDataPhoneModels">
        <a (click)="selectJSON(item)">
          {{item.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="large-9 columns" *ngIf="!isEmpty(toDisplay)">
    <form (submit)="onSubmitValidateJSON()">
      <label> {{ toDisplay.name }}
        <textarea autofocus rows="20vh">
         {{toDisplay | json }}
        </textarea>
      </label>
      <div class="row">
        <div class="large-6 medium-12 columns">
          <input type="submit" class="button expanded hollow" value="save">
        </div>
        <div class="large-6 medium-12 columns">
          <input type="submit" class="button expanded hollow alert" value="cancel">
        </div>
      </div>
    </form>
  </div>
</div>
