<div>
  <h2>Add new data source </h2>
  <form novalidate #f="ngForm" (ngSubmit) = "onSubmit(f.value)">
    <div class="form-group">
      <label for="mcurl">Mobicontrol API URL </label>
      <label>id: </label>
      <input type="text" #mcurl class="form-control" id="mcurl" placeholder="https://cad059.corp.soti.net/MobiControl/api">
      <input  type="text" #agentid class="form-control" id="agentid" placeholder="myCustomId">
    <a (click)="addSource($event, mcurl.value, agentid.value)" class="btn btn-sm glyphicons glyphicons-bin x1"> add something </a>
    </div>
  </form>
</div>
