<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="MobiControlDB" connectionString="Data Source=CAD056\SQL2014DEV;Initial Catalog=Nestle;User ID=sa;Password=Welcome1234"/>    
  </connectionStrings>
  <appSettings>
    <add key="pollinginterval" value="10000"/>
    <!--<add key="IdaUrl" value="http://34.192.3.52:5496/Devices/MultipleStats/MultiplePosts"/>-->
    <add key="IdaUrl" value="http://localhost:3003/Devices/MultipleStats/MultiplePosts"/>
    <add key="MaxNumberOfConsecutiveDBFailures" value="3"/>
    <add key="DBRetryAfterFailureDelay" value="10"/>
    <add key="MaxNumberOfConsecutiveIDAFailures" value="3"/>
    <add key="IDARetryAfterFailureDelay" value="10"/>
    <add key="waitDatabaseTimeout" value="30"/>
    <add key="servicesReceiveTimeout" value="30"/>
  </appSettings>
</configuration>
