<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="pollinginterval" value="10000"/>
    <add key="IdaUrl" value="http://34.192.3.52:5496/Data" />
    <add key="MaxNumberOfConsecutiveDBFailures" value="3"/>
    <add key="DBRetryAfterFailureDelay" value="10"/>
    <add key="MaxNumberOfConsecutiveIDAFailures" value="3"/>
    <add key="IDARetryAfterFailureDelay" value="10"/>
        
  </appSettings>
  <connectionStrings>
    <add name="MobiControlDB"
         connectionString ="Data Source=CAD059\SQLEXPRESS;Initial Catalog=MobiControlDB;User ID=sa;Password=Welcome1234" />    
  </connectionStrings>
</configuration>