<div>
  <div class="home jumbotron centered">
    <h2>Data Analytics Domain Management</h2>
    <h3 *ngIf="isSOTI">(SOTI Administrator Account)</h3>

    <p> Account: {{decodedJwt["accountid"]}} <p>
    <p> Tenant Id: {{decodedJwt["tenantId"]}} <p>
    <p> User: {{decodedJwt["username"]}}</p>
    <p> Address:  {{decodedJwt["companyaddress"]}}</p>
    <p> Phone Number:  {{decodedJwt["companyphone"]}} </p>



    <a class="btn btn-primary btn-lg" role="button" (click)="callGetEnrollments()">Additional Information</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="showAddSource()">Enroll Data Source</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="showDataSources()">Show Data Sources</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="downloadFile(termsValue)" >Download MCDP</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a>

    <pre *ngIf="showTermsAndConditions">
      Future place for terms and conditions

      Accept terms and conditions?
      <a class="btn btn-primary btn-lg" role="button" href="http://localhost:3004/public/MobiControlDataAdaptor.exe">Accept Terms and Conditions </a>
    </pre>

    <pre *ngIf="response">
      IDP Information {{decodedJwt["accountid"]}}
      <table>
        <tr>
          <td style="width: 200px">domainid</td>
          <td style="width: 200px">status</td>
          <td style="width: 200px">username</td>
          <td style="width: 200px">tenantid</td>
          <td style="width: 200px">MC Url</td>
        </tr>
        <tr>
           <td>{{response.domainid}}</td><td>{{response.status}}</td><td>{{response.username}}</td><td>{{response.tenantid}}</td><td>{{response.mcurl}}</td>
        </tr>
      </table>
    </pre>

    <div *ngIf="enrollStatus">
      <br/>
      <p> Select Type: {{dataSourceType}} </p>
      <tr>
        <td>
            <select [(ngModel)]="dataSourceType">
              <option selected disabled>Select Your Type</option>
              <option style="color:black;" *ngFor="let o of options">{{o.option}}</option>
            </select>
        </td>
      </tr>


    <br/>
    <pre *ngIf="dataSourceType === 'MobiControl'">
      <div>Add new data source for tenant {{decodedJwt["tenantid"]}} </div>
      <form #mcForm (submit)="addSource(mcForm)">
      <table>
        <tr>
          <td style="width: 200px"> <label>Data source label: </label>  </td>
          <td style="width: 300px"><input #mcurl id="mcurl" style="width:300px" placeholder="Enter preferred agent name"></td>
        </tr>
        <tr>
          <td> <button type="submit" class="btn btn-success">Add Source</button></td>
        </tr>
      </table>
      </form>
    </pre>

    <br/>
    <pre *ngIf="dataSourceType === 'NextBus'">
      <div>Add new data source for tenant {{decodedJwt["tenantid"]}} </div>

      <form #nbForm (submit)="addSource(nbForm)">
      <table>
        <tr>
          <td style="width: 200px"> <label>Data source Name: </label>  </td>
          <td style="width: 300px"><input #nbname id="nextBusName" style="width:300px" placeholder="Enter preferred agent name"></td>
        </tr>
        <tr>
          <td style="width: 200px"> <label>Data source URL: </label>  </td>
          <td style="width: 300px"><input #nburl id="nextBusURL" style="width:300px" placeholder="Enter agent URL"></td>
        </tr>
        <tr>
          <td style="width: 200px"> <label>Data source Frequency: </label>  </td>
          <td style="width: 300px"><input type="number" #nbfrequency id="nextBusFrequency" style="width:300px" placeholder="Enter Frequency in seconds"></td>
        </tr>
        <tr>
          <td> <button type="submit" class="btn btn-success">Add Source</button></td>
        </tr>
      </table>
      </form>
    </pre>
    </div>

    <br/>
    <div *ngIf="showEnrollments">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th>Agent </th>
                    <th>Agent ID</th>
                    <th>Download Credentials</th>
                    <th>Reset Credentials</th>
                  </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let x of McUrl;">
                      <td>
                        <span> {{x.mcUrl}} </span>
                      </td>
                      <td style="align-content: center;">
                        <span #agentId id = "agentId" >{{x.agentId}} </span>
                      </td>
                      <td><a style="color:black;" class="btn btn" role="button" (click)="downloadCredentials(agentId)"><button>Download Credentials</button></a></td>
                      <td><a style="color:black;" class="btn btn" role="button" (click)="resetCredentials(agentId)"><button>Reset Credentials</button></a></td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination" style="cursor:pointer;">
                        <span *ngFor="let page of pages">
                            <li  *ngIf="page == currentPage" class="page-item active" ><a class="page-link" (click)=refresh(page) >{{page+1}}</a></li>
                            <li  *ngIf="page != currentPage" class="page-item" ><a class="page-link" (click)=refresh(page) >{{page+1}} </a></li>
                        </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

    <h2 *ngIf="jwt">You are logged in and your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>

</div>
