<div>
  <div class="home jumbotron centered">
    <h2>Data Analytics Account Management</h2>
    <h3 *ngIf="isSOTI">(SOTI Administrator Account)</h3>
      <p>Account: {{this.decodedJwt["accountid"]}}
      Domain: {{this.decodedJwt["domainid"]}}
      User: {{this.decodedJwt["username"]}}</p>

    <a *ngIf="isSOTI" class="btn btn-primary btn-lg" role="button" (click)="callGetEnrollments()">See Current Enrollments</a>
    <a *ngIf="isSOTI" class="btn btn-primary btn-lg" role="button" (click)="callDeleteAllEnrollments()">Delete All Enrollments</a>
    <a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a>

    <pre *ngIf="response">{{ response }}</pre>

    <h2 *ngIf="jwt">You are logged in and your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>





  </div>
</div>
